[Unit]
Description=nexus service
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart={{ nexus_service_file_path }} start
ExecStop={{ nexus_service_file_path }} stop
User={{ nexus_user }}
Group={{ nexus_group }}
Restart=always

[Install]
WantedBy=multi-user.target
